
= render "shared/noty"

.container
  .row
    .col-md-9
      %h2 Publicaciones
  .row
    .col-md-12
      - if posts
        - posts.each_slice(3) do |posts_|
          .row
            - posts_.each do |post|
              .col-md-4
                %div.article-grid
                  %h3= post.title
                  %small
                    %i.fa.fa-user
                    = post.author_fulname
                  %br
                  %i.fa.fa-calendar
                  = post.created_at.strftime("%d/%m/%Y")
                  %p
                    = raw(post.content.truncate(200))
                  = link_to "Ver más", post_path(post)

  .row
    .col-md-3
      %p
        = link_to "Nueva publicación", new_post_path, class: "button"
