
.container
  .row
    = link_to "Todas las publicaciones", root_path, class: "btn btn-link"
  .row
    .col-md-12
      %article
        %h3= post.title
        %small
          %i.fa.fa-user
          = post.author_fulname
        %br
        %small
          %i.fa.fa-calendar
            = post.created_at.strftime("%d/%m/%Y")
        = raw(post.content)
        - if user_signed_in? && current_user == post.author
          = link_to "Editar", edit_post_path(post)

  %br
  %br

  %hr

  %h3 Comentarios

  .comment-list
    - post.comments.each do |comment|
      = render "comments/comment", comment: comment

  .row
    .col-md-4
      = simple_form_for comment_init, url: post_comments_path(post), remote: true do |f|
        .form-group
          = f.input :username
        .form-group
          = f.input :content
        .form-group
          = f.submit
